.container-contact{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    

}

.contact *{
    margin-top: 3rem;
}
.contact h1{
    font-size: 40px;
}
.info div{
    margin-top: 3rem;
}
.in strong{
    margin-bottom: 50px;
}
.content{
    width: 46%;
    /* border: 2px solid black; */
}
.form{
    width: 45%;
    box-shadow: 5px 5px 20px rgb(156, 154, 154);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
input{
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: 0.5px solid rgb(138, 132, 132);
}
textarea{
    width: 80%;
    margin-top: 20px;

}


